html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
{
  font-family: 'Source Sans Pro', sans-serif;
}

body
{
  color: #444;
}

h1
{
  display: inline-block;
}

.pure-button .fa
{
  padding-left: 3px;
}
